<div class="large-10 large-centered columns">
  <table>
    <tr>
      <th>Email</th>
      <th>Created At</th>
      <th class="admin-action"></th>
      <th class="admin-action"></th>
    </tr>
    <% @admin_users.each do |admin_user| %>
        <tr>
          <td><%= admin_user.email %></td>
          <td><%= admin_user.created_at %></td>
          <td><%= link_to image_tag(current_user.lock? ? 'fi-lock.svg' : 'fi-unlock.svg', size: '30x30'), admin_user_path(admin_user), method: :put %></td>
          <td><%= link_to image_tag('fi-x.svg', size: '30x30'), admin_user_path(admin_user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
  </table>
</div>
